<main class="contenedor contenedor-formularios">
  <h1><%= nombrePagina %> </h1>
  <form  class="default-form" method="POST" enctype="multipart/form-data">
    <div class="campo">
      <label>imagen</label>
      <input type="file" name="imagen" placeholder="Nombre Grupo">
    </div>
    <% if(grupo.imagen){ %> 
    <div class="campo">
      <label for="">Imagen Actual</label>
      <img src="<%= grupo.imagen %>" width="400" alt="">
    </div>
  <% }else{ %> 
     <p>No hay imagen actual</p> 
  <% } %> 
    <div class="campo enviar">
      <input type="submit" value="Subir Imagen" class="btn btn-rosa">
    </div>
  </form>
</main>